n8n_implementation/DrawChart.json
{
  "name": "DrawChart",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"chat_id\": 1843758554,\n  \"chart_config\" : {},\n  \"context\": \"Show my sleep this week\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b5cf83b1-0031-4eae-b101-63c314ca9345",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CHART:\n- Type: {{ $('When Executed by Another Workflow').item.json.type }}\n- Labels: {{ $('When Executed by Another Workflow').item.json.labels_array }}\n- Values: {{ $('When Executed by Another Workflow').item.json.data }}\n- Metric: {{ $('When Executed by Another Workflow').item.json.lable }}\n\nContext: {{ $('When Executed by Another Workflow').item.json.context || 'Visualizing data' }}\n\nWrite a brief, witty caption for this chart.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "HIGH LEVEL RULES:  - You must enclose your internal thought process inside <think> tags. Output the final answer strictly after the closing </think> tag. Do not include phrases like 'Final version:' or 'Here is the answer'.  - Make Your Final Answer (Excluding Thinking) < 1000 characters."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        0
      ],
      "id": "b72b87e0-6535-401c-b88e-9280c36ce345",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "tngtech/deepseek-r1t-chimera:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        160
      ],
      "id": "ce5ae10e-7597-4eb7-834e-56bf2e2ecbf9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xQ2tL9arRJxvowDd",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chartType": null,
        "labelsMode": "array",
        "labelsArray": "={{ $('When Executed by Another Workflow').item.json.labels_array }}",
        "data": "={{ $('When Executed by Another Workflow').item.json.data }}",
        "chartOptions": {
          "format": "png"
        },
        "datasetOptions": {
          "label": "={{ $('When Executed by Another Workflow').item.json.lable }}"
        }
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        80,
        -160
      ],
      "id": "890d956d-867d-4270-be7b-75a85fa7fb74",
      "name": "QuickChart"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"thinking\": \"Alright, let me try to come up with a witty caption for this sleep chart. So, the data shows sleep hours from Monday to Friday: 6, 5, 7, 6.5, 8. The metric is 'Sleep Hours' and the context is 'Show my sleep this week.'\\n\\nFirst, I notice the sleep hours dip on Tuesday to 5, which is the lowest. Then it peaks on Friday at 8. The other days are around 6-7 hours. So, it's like a rollercoaster of sleep.\\n\\nI want to make it playful. Maybe compare the sleep pattern to something fun, like a party week. 'Rollercoaster of Zzz's' comes to mind because it goes up and down. Then, mention Tuesday being a rough night since it's the lowest. 'Rescued by Friday's 8-hour bliss' ties in the peak on Friday.\\n\\nAdding emojis can make it more engaging. Maybe a sleeping emoji and a party popper for Friday. Keeping it short and catchy is key, so it's easy to read and memorable.\\n\\nI should also ensure it's under 1000 characters, which it is. Let me check if it flows well and if the humor lands. Yeah, 'Rollercoaster of Zzz’s' is catchy, and the contrast between Tuesday's slump and Friday's peak adds a nice touch. The emojis add a bit of flair without overdoing it.\",\n\t\"output\": \"Rollercoaster of Zzz’s 🎢—Tuesday tried to shortchange me, but Friday came through with the 8-hour redemption arc! 🛌🎉\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        336,
        160
      ],
      "id": "0b2466b0-f445-4189-bd8c-b4d04ddb563d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        304
      ],
      "id": "6db57353-55a8-403f-bda2-36009c991b0e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "xQ2tL9arRJxvowDd",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "=1843758554",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "additionalFields": {
          "caption": "={{ $('Basic LLM Chain').item.json.output.output }}",
          "fileName": "Chart.png",
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        0
      ],
      "id": "d7d2d6cf-0205-4445-b3b8-3b20251aa1b4",
      "name": "Send Chart",
      "webhookId": "drawchart-webhook",
      "credentials": {
        "telegramApi": {
          "id": "2kRvMmSGzjjs8SD4",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10b9cbc1-e39c-484a-aa7b-4813c1eecdea",
              "name": "status",
              "value": "=Chart Sent Sucessfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -16
      ],
      "id": "c6e15452-298c-41dc-b93a-6d8653758117",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10b9cbc1-e39c-484a-aa7b-4813c1eecdea",
              "name": "status",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        176
      ],
      "id": "956ba489-0639-4c44-a56d-fb1fe68c0fee",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"chart\": {{ $('When Executed by Another Workflow').item.json.chart_config.toJsonString() }} }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        0
      ],
      "id": "8fb1ce5c-f3fa-4419-9f32-8ba950ada22e",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "update_id": 334284265,
          "message": {
            "message_id": 626,
            "from": {
              "id": 1843758554,
              "is_bot": false,
              "first_name": "Ziad",
              "last_name": "Amer",
              "username": "zmamer",
              "language_code": "en"
            },
            "chat": {
              "id": 1843758554,
              "first_name": "Ziad",
              "last_name": "Amer",
              "username": "zmamer",
              "type": "private"
            },
            "date": 1766448254,
            "text": "Plot my deep sleep percentage showing different baselines I went through and pointing to peaks and lows\nAnd highlighting rising trends"
          },
          "chart_config": {
            "data": {
              "datasets": [
                {
                  "label": "Deep Sleep %",
                  "borderWidth": 2,
                  "borderColor": "rgba(75, 192, 192, 1)",
                  "fill": true,
                  "backgroundColor": "rgba(75, 192, 192, 0.2)",
                  "tension": 0.3,
                  "pointRadius": 4,
                  "data": [
                    7,
                    3,
                    7,
                    13,
                    13,
                    11,
                    20,
                    6,
                    13,
                    13,
                    5,
                    2,
                    26,
                    8,
                    2,
                    8,
                    2,
                    0,
                    4,
                    10,
                    5,
                    28,
                    15,
                    13,
                    14,
                    16,
                    6,
                    41,
                    15,
                    5,
                    6,
                    9,
                    9,
                    3,
                    9,
                    18,
                    13,
                    29,
                    37,
                    10,
                    26,
                    11,
                    21,
                    7,
                    27
                  ]
                }
              ],
              "labels": [
                "09-30",
                "10-01",
                "10-02",
                "10-03",
                "10-05",
                "10-06",
                "10-07",
                "10-08",
                "10-09",
                "10-10",
                "10-10",
                "10-14",
                "10-15",
                "10-16",
                "10-18",
                "10-20",
                "10-21",
                "10-24",
                "10-25",
                "10-27",
                "10-28",
                "10-29",
                "10-30",
                "10-31",
                "11-01",
                "11-03",
                "11-04",
                "11-05",
                "11-06",
                "11-08",
                "11-09",
                "11-11",
                "11-11",
                "11-12",
                "11-13",
                "11-16",
                "11-17",
                "11-18",
                "11-19",
                "11-20",
                "11-21",
                "11-22",
                "11-23",
                "11-25",
                "12-20"
              ]
            },
            "options": {
              "plugins": {
                "legend": {
                  "display": true
                },
                "annotation": {
                  "annotations": {
                    "peakPoint": {
                      "content": "The Coma (41%)",
                      "yValue": 41,
                      "backgroundColor": "rgba(54, 162, 235, 0.8)",
                      "borderColor": "white",
                      "borderWidth": 2,
                      "xValue": "11-05"
                    },
                    "lowPoint": {
                      "xValue": "10-14",
                      "backgroundColor": "rgba(255, 99, 132, 0.8)",
                      "yValue": 2,
                      "content": "Zombie Mode (2%)",
                      "borderWidth": 2,
                      "borderColor": "white"
                    }
                  }
                },
                "title": {
                  "display": true,
                  "text": "Deep Sleep % Evolution"
                }
              },
              "scales": {
                "y": {
                  "beginAtZero": true,
                  "title": {
                    "display": true,
                    "text": "Percentage (%)"
                  }
                }
              }
            },
            "type": "line"
          },
          "context": "Analysis of Deep Sleep Percentage trends, identifying peaks and lows.",
          "toolCallId": "c4ebc44a-dc18-48c5-b145-de3f339367c4"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "QuickChart": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Chart": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8aed5221-0c43-4145-b625-3ce9c3255804",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "399cde5437e0834b9362557668ca4e4c17df2ca7891b93718b6fcb82619ee648"
  },
  "id": "sGlYMrT7GjcZkInI",
  "tags": []
}